html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
}

h1 {
  font-family: 'Potta One', cursive;
  font-weight: 900%px;
}

body {
  background-image: url("assets/pro_audio.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
